body {
    background-color: #f4f4f4; /* Light gray background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(bg5.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    /* position: sticky; */
    width: 85%;
    top: 0;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 1000; */
}

.logo{
    width: 150px;
    cursor: pointer;
    filter: brightness(0.6);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#logoutButton {
    border: 1px solid #a24646;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    padding: 5px;
    background-color: #a24646;
}

#logoutButton:hover {
    background-color: #d02727 ;
    color: #fff;
}

/* Underline Effect on Navbar Links (excluding the button) */
.navbar ul li:not(:has(#logoutButton))::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* Hover Effect for Links (excluding the button) */
.navbar ul li:hover:not(:has(#logoutButton))::after {
    width: 100%;
}

/* Top text section */
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}

.content button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

section {
    margin: 0;
    padding: 0;
}

#fitness-plan,
#nutrition-plan,
#payment,
#contact-us {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#fitness-plan{
    width: 100%;
    height: 100vh;
    background-color: #333;
    text-align: center;
}

#fitness-plan h2{
    color: #fff;
    padding-top: 50px;
    font-size: 2.5em;
}

#fitness-plan p{
    color: #fff;
}

/* Center the form on the page */
.home {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 100px); /* Adjust to avoid overlap with the top section */
    margin-left: 250px;
    margin-top: 20px;
}

.home h4{
    text-align: left;
    color: #fff;
    padding-left: 100px;
}

/* Style the form */
#registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 450px;
    margin-top: 20px;
    border-top: 2px solid #01dbc2;
    border-left: 2px solid #01dbc2;
    border-bottom: 2px solid #01dbc2;
    padding: 20px;
    padding-top: 20px;
    border-radius: 25px 0px 0px 25px;
}

#registerForm label{
    color: #fff;
}

#goal {
    height: 40px;
    font-size: 14px;
    padding: 5px; 
    border-radius: 5px;
    color: #333;
}


#registerForm input,
#registerForm button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}

#registerForm button {
    background-color: #01dbc2;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 120px;
}

#registerForm button:hover {
    background-color: #1c8a7d;
}

/* Style the image container */
#image-container {
    margin-top: 20px;
    display: block;
}

#image-container img{
    width: 500px;
    height: 450px;
}

/* Result styling */
#result {
    margin-left: 20px;
    color: #fff;
}


#nutrition-plan{
    width: 100%;
    height: 100vh;
    background-color: #222;
    text-align: center;
}

#nutrition-plan h2{
    color: #fff;
    padding-top: 50px;
    font-size: 2.5em;
}

#nutrition-plan p{
    color: #fff;
}

#payment {
    text-align: center;
    padding: 50px 20px;
    background-color: #333;
    height: 120vh;
}

#paypal-button-container {
    display: inline-block; 
    margin: 40px auto;
}

#payment h1 {
    font-size: 2.5em;
    color: #fff;
}

#payment p {
    margin: 0 auto 20px;
    max-width: 600px;
    color: #fff;
}

.payment-plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plan-card {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.plan-card:hover {
    transform: translateY(-10px);
}

.plan-card.selected {
    border: 3px solid #01dbc2;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

.plan-card img.plan-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.plan-card h2 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 10px;
}

.plan-card p {
    font-size: 1.5em;
    color: #01dbc2;
    margin-bottom: 15px;
}

.plan-card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.plan-card ul li {
    font-size: 1em;
    color: #fff;
    display: flex;
    align-items: center;
}

.plan-card ul li ion-icon {
    color: #01dbc2;
    margin-right: 8px;
}

.subscribe-button {
    background-color: #01dbc2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: #1c8a7d;
}



#contact-us {
    position: relative;
    min-width: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

#contact-us  .contact-content{
    max-width: 800px;
    text-align: center;

}

#contact-us .contact-content h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}

#contact-us .contact-content p{
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container .contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contactInfo .box .icon::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);   
}

.container .contactInfo .box .icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}

.container .contactInfo .box .icon b{
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}

.container .contactInfo .box .icon ion-icon{
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}

.container .contactInfo .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-family: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #01dbc2;
}

.container .contactInfo .txt{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 25px solid #01dbc2;
    line-height: 1em;
    padding-left: 10px;
}

.container .contactInfo .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin:20px 0;
}

.container .contactInfo .sci li{
    list-style: none;

}

.container .contactInfo .sci li a{
    color: #fff;
    font-size: 2em;
    transition: 0.25s;
}

.container .contactInfo .sci li a:hover{
    color: #01dbc2;
    filter: drop-shadow(0 0 5px #01dbc2);
}

.container .contactForm{
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}

.container .contactForm::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.container .contactForm::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;

}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate{
    0%{
        --a: 0deg;
    }
    100%{
        --a:360deg;
    }
}

.container .contactForm form {
    position: relative; 
    z-index: 10;
}

.container .contactForm form h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.container .contactForm form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #01dbc2;
    color: #fff;
    outline: none;
    resize: none;
}

.container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 35px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    white-space: nowrap;
    transition: 0.5s;
}

.container .contactForm form .inputBox input:focus~span,
.container .contactForm form .inputBox textarea:focus~span,
.container .contactForm form .inputBox input:valid~span,
.container .contactForm form .inputBox textarea:valid~span{
    color: #01dbc2;
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container .contactForm form .inputBox input[type="submit"]{
    width: 100%;
    background: #01dbc2;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

@media(max-width:991px){
    #contact-us{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .container .contactForm{
        width: 100%;
    }
    .container .contactForm{
        padding: 40px;
    }
    .container .contactForm form{
        padding: 10px;
    }
    footer{
        width: 100%;
    }
}

footer{
    position: relative;
    width: 100%;
    background-color: #333;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}



